@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ECE9E6;
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    min-width: 100vh;

}

img {
    max-width: 100%;
}

.container {
    background-color: #fff;
    width: 400px;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1rem;
}

header input {
    background-color: #eee;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: none;
}

header button {
    background-color: none;
}